/Code/Class3/Attributes/nbproject/private/
/Code/Class3/Ciclos_Class3/nbproject/private/
/Code/Class4/Cliclos_Class4/nbproject/private/
/Code/Class4/Cliclos_Class4/build/
/Code/Class2_Practice1/build/
/Code/Class1/build/
/Code/Class13/PracticaMatriz2/build/
/Code/Class13/PracticaMatriz2/nbproject/private/
/Code/Class14/Class14/build/
/Code/Class14/Class14/nbproject/private/
/Code/Class03/Attributes/build/
/Code/Class03/Attributes/nbproject/private/
/Code/Class04/Class4_Pratice/build/
/Code/Class04/Class4_Pratice/nbproject/private/
/Code/Class04/Cliclos_Class4/nbproject/private/
/Code/Class05/Switch/build/
/Code/Class05/Switch/nbproject/private/
/Code/Class05/Switch_Practice/build/
/Code/Class05/Switch_Practice/nbproject/private/
/Code/Class07/Class7/build/
/Code/Class07/Class7/nbproject/private/
/Code/Class08/Class7/build/
/Code/Class08/Class7/dist/
/Code/Class08/Class7/nbproject/private/
/Code/Class08/Class8_StringPractice/build/
/Code/Class08/Class8_StringPractice/nbproject/private/
/Code/Class09/Class9/build/
/Code/Class09/Class9/nbproject/private/
/Code/Class02/Class2_Practice1/build/
/Code/Class02/Class2_Practice1/nbproject/private/